h1, hr, .calculator {
    margin: 20px 40px;
}

.calculator {
    /*display: inline-block;*/
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid black;
}
/*.display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.display .current-operand {
  color: white;
  font-size: 2.5rem;
}*/

.display {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 5px;
}

.row {
    overflow: auto;
}

.row button {
    float: left;
    width: 22%;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4%;
}

.row button:nth-child(4n) {
    margin-right: 0;
}